.nav{
    display: flex;
    justify-content: space-between;
    background: #102A57;
}
.prin{
    display: flex;
    align-items: center;
}
.logo{
    width: 250px;
    height: 70px;
}
.ita{
    width: 60px;
    height: 60px;
}
.sep{
    width: 300px;
    height: 60px;
}
.principal{
    width: 370px;
    height: 400px;
}

#form{
    background-color: #798DA1;
    border-radius: 15px; 
    width: 350px; 
    height: 300px;
}
.login-form #log{
    text-align: center;
}